.header-style {
  border: 1px solid #dadada;
  height: 60px;
  position: fixed;
  width: 100%;
  top: 0px;
  background-color: #ffffff;
}

.position-header {
  display: inline-flex;
  width: 30%;
  height: 60px;
}

.logo {
  padding-top: 5px;
  float: left;
  width: 50%;
  padding-left: 5%;
  height: 60px;
}

.menu {
  color: #313131;
  border-right: 1px solid #dadada;
  border-left: 1px solid #dadada;
  height: 60px;
  float: right;
  margin-left: 1.25rem;
  width: 45%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.25s ease-out 0s;
}

.hamburger {
  font-size: 1.875rem;
  margin-right: 0.525rem;
}

.span-text {
  font-weight: 600;
}
